body {
    margin: 0%;

}

.bg {

    /*position: fixed;*/
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
#img1 {
    position: absolute;
  width: 100%;
    height: 100%;
}
#img2 {
    position: absolute;
   width: 100%;
    height: 100%;
}
#img3 {
    position: absolute;
    width: 100%;
    height: 100%;

}
.bg img.active {
    z-index: 3;
}

.bg img.last-active {
    z-index: 2;
}
/*----buttons slideshow----*/
.ssPushContainer {

    position: absolute;
    height: 10vh;
    width: 7vw;
    top: 25vh;
    right: 10vw;
    z-index: 5;

}
.ssPush {
    height: auto;
    width: 100%;
    list-style-type: none;
}
li#btn1 {

    width: 10vw;
    height: 18vh;
    margin: 0 70px 15px 0;
    display: inline-block;
    border: 2px solid #fff;
    background: url('img/ways-to-make-your-business-stand-out.jpg') no-repeat 0 0;
    background-size: cover;
    border-radius: 100%;

}
a{
    width: 44px;
    height: 44px;
}
li#btn2 {

    width: 10vw;
    height: 18vh;
    margin: 0 70px 15px 0;
    display: inline-block;
    border: 2px solid #fff;
    background: url('img/andrei-coman-302139.jpg') no-repeat 0 0;
    background-size: cover;
    border-radius: 100%;
}
a{
    width: 44px;
    height: 44px;
}
li#btn3 {

    width: 10vw;
    height: 18vh;
    margin: 0 70px 15px 0;
    display: inline-block;
    border: 2px solid #fff;
    background: url('img/Man-in-rain-of-money-1024x682.jpg') no-repeat 0 0;
    background-size: cover;
    background-color: black;
    border-radius: 100%;
    /*koniec button slideshow*/
}
a{
    width: 44px;
    height: 44px;
}




.ssPush li:hover {
    border: 2px solid tomato;
}

/*!*call to action*/
figure{
    position: absolute;
    top: 75%;
    left:32%;
    z-index: 5;
    width:30vw;
    height:6vh;cursor:pointer;
    perspective:500px;
}
figure div{
    height:100%;
    transform-style:preserve-3d;
    transition:0.25s;
}
figure:hover div{
    transform:rotateX(-90deg);}
span{
    width:100%;
    height:auto;
    position:absolute;
    box-sizing:border-box;
    border:5px solid #fff;
    font-family:'Source Sans Pro',sans-serif;
    line-height:50px;font-size:17pt;
    text-align:center;
    text-transform:uppercase;
}
span:nth-child(1){
    color:#fff;
    transform: translate3d(0, 0, 30px);
}
span:nth-child(2){
    color:red;
    background:#fff;
    transform: rotateX(90deg) translate3d(0, 0, 30px);}
/*koniec call to action*/